Avatar==0.1
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
Django==2.0.12
django-appconf==1.0.2
django-avatar==4.1.0
django-captcha==1.0.0
django-debug-toolbar==1.9.1
django-recaptcha==1.4.0
Faker==0.8.17
idna==2.7
lxml==4.6.2
Pillow==6.2.0
python-dateutil==2.7.3
pytz==2018.5
requests==2.20.0
six==1.11.0
sql==0.4.0
sqlparse==0.2.4
text-unidecode==1.2
urllib3==1.24.2
