{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <h2>{% trans 'Welcome' %} {{ user.username }}</h2>
    {% if user.is_authenticated %}
            <div id="profile_info_and_avatar">
                <div id="avatar" style="float:right">
                {% load avatar_tags %}
                {% avatar user 100 %}
                </div>
                {% trans 'User ID:' %} {{ user.id }}
                <br>
                {% trans 'Username:' %} {{ user.username }}
                <br>
                {% trans 'Email Address:' %} {{ user.email }}
                <br>
                {% trans 'Last Login:' %} {{ user.last_login }}
                <br>
                {% trans 'Date Joined:' %} {{ user.date_joined }}
                <br>
             </div>     
    {% endif %}
{% endblock %}
