{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <h2>{{ user.username }}</h2>
    {% if user.is_authenticated %}
            <div id="profile_info_and_avatar">
                <div id="avatar" style="float:right" align=right>
                {% load avatar_tags %}
                {% avatar user 100 %}
                </div>
                <b hidden>{% trans 'User ID:' %} {{ user.id }}</b>
                <br/>
                <b>{% trans 'Username:' %}</b> {{ user.username }}
                <br/>
                <b>{% trans 'Email Address:' %}</b> {{ user.email }}
                <br/>
                <b>{% trans 'Last Login:' %}</b> {{ user.last_login }}
                <br/>
                <b>{% trans 'Date Joined:' %}</b> {{ user.date_joined }}
                <br/>
                <br/>
                <br/>
             </div>
    {% endif %}
{% endblock %}
