
/* Heading sets */
header{
  font-family:"Lucida Console",Monospace;
}
body {
  font-size: 1em;
  font-family:"Lucida Console",Monospace;

}

/*node*/
.nodeclass{
  background-color: #5C7480;
  display: block;
  border: #66BDE6;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 41px;
}
/*node end*/

.content h3 {
  margin: 0;
  padding: 0.4em 1em;
  font-weight: normal;
  color: #464646;
}

*, *:after, *:before {
  box-sizing: border-box;
}

h1 {
  font-size: 36px;
  line-height: 40px;
}

h2 {
  font-size: 35px;
  line-height: 40px;
  border-bottom: 3px solid #407363;
  font-weight: normal;
  text-align: center;
  padding: 0 0 10px;
}

h3 {
  font-size: 24px;
  line-height: 40px;
}

h4 {
  font-size: 18px;
  line-height: 20px;
}

h5 {
  font-size: 14px;
  line-height: 20px;
}

h6 {
  font-size: 12px;
  line-height: 20px;
}

/*Heading sets End*/

#logo img {
  width: 60px;
}

#profile_main {
  width: 100%;
  margin-bottom: 20px;
  height: 15%;
}

#avatar {
  width: 20%;
  float: left;
}

#profile_info {
width: 70%;
float: left;
}

/* Navbar */

nav {
  width: 45em;
  background: #407363;
  border-bottom: 3px solid transparent;
  line-height: 46px;
  height: 46px;
  text-decoration: none;
}

nav a {
  color: white;
  text-decoration: none;
  transition: all .4s;
  height: inherit;
  padding: 5px;
  text-align: center;

}
nav a:hover {
  border-bottom: 3px solid black;
}

/*nav .i{
    display: inline-block;
    font-style: normal;
    text-rendering: auto;
    position:relative;
}  */

.menu {
  float: left;
  position: relative;
}

/* Navbar Ends */

.container {
  width: 45em;
  margin: auto;
}

footer{
  width: 45em;
  margin: auto;
  padding: 0.6em;
  background-color: #FFE4E1;
  border:1px solid #EE82EE;
  color: #333;
}

.info{
  display: block;
  padding: 10px;
  letter-spacing: 1px;
}

.warning{
  background-color: #fcf8e3;
  border:1px solid #faebcc;
  color: #333;
}

/* Button */

.button {
    background-color: #749094;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 24px;
}

.button:hover{
  background-color: #637E87;
}

.report_button{
  background-color: #949E86 ;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 24px;
}

.button:hover{
  background-color: #828a77;
}

/* Button Ends */

.helptext {
  color: darkgray;
  display: block;
}

label {
  display: block;
}

input {
  font-size: 1.2em;
  border: 3px solid #407363;
  outline: none;
  margin: 2px 0;
}

input:focus {
  border: 3px solid black;
}

select {
  font-size: 1.2em;
  margin: 2px 0;
}

form ul li {
  list-style: none;
}

form ul {
  padding: 0 10px;
}

/* Story — Relationship */
.story-relationship {
  border: 3px solid #f3f3f3;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  padding: 1em;
}

.story-relationship a {
  text-decoration: none;
  color: black;
}

/*home*/
    .link {
        stroke: #ccc;
    }

    .node text {
        pointer-events: none;
        font: 10px verdana;
    }

    @font-face {
        font-family: 'overwatch';
        src: url('fonts/koverwatch.woff2');
    }
/**/

a{
text-decoration: none;
}