
/* Heading sets */
header{
  font-family:"Lucida Console",Monospace;
}
body {
  margin: 0;
  font-size: 1em;
  font-family:"Lucida Console",Monospace;

}

/*node*/
.nodeclass{
  background-color: #5C7480;
  display: block;
  border: #66BDE6;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 41px;
}
/*node end*/

.content h3 {
  margin: 0;
  padding: 0.4em 1em;
  font-weight: normal;
  color: #464646;
}

*, *:after, *:before {
  box-sizing: border-box;
}

h1 {
  font-size: 36px;
  line-height: 40px;
}

h2 {
  font-size: 35px;
  line-height: 40px;
  border-bottom: 3px solid #407363;
  font-weight: normal;
  text-align: center;
  padding: 0 0 10px;
}

h3 {
  font-size: 24px;
  line-height: 40px;
}

h4 {
  font-size: 18px;
  line-height: 20px;
}

h5 {
  font-size: 14px;
  line-height: 20px;
}

h6 {
  font-size: 12px;
  line-height: 20px;
}


/*Heading sets End*/

#logo img {
  width: 60px;
}

#profile_main {
  width: 100%;
  margin-bottom: 20px;
  height: 15%;
}

#avatar {
  width: 20%;
  float: left;
}

#profile_info {
width: 70%;
float: left;
}

/* Navbar */

nav {
  width: 100%;
  background: #407363;
  border-bottom: 3px solid transparent;
  line-height: 46px;
  height: 46px;
  text-decoration: none;
}

nav a {
  color: white;
  text-decoration: none;
  transition: all .4s;
  height: inherit;
  padding: 5px;
  text-align: center;

}
nav a:hover {
  border-bottom: 3px solid black;
}

.menu {
  float: left;
  position: relative;
}

/* Navbar Ends */

.container {
  width: 45em;
  margin: auto;
}

footer{
  width: 45em;
  margin: auto;
  padding: 0.6em;
  background-color: #FFE4E1;
  border:1px solid #EE82EE;
  color: #333;
}

.info{
  display: block;
  padding: 10px;
  letter-spacing: 1px;
}

.warning{
  background-color: #fcf8e3;
  border:1px solid #faebcc;
  color: #333;
}

/* Button */

.button {
    background-color: #749094;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 24px;
}

.button:hover{
  background-color: #637E87;
}

.report_button{
  background-color: #949E86 ;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 24px;
}

.button:hover{
  background-color: #828a77;
}

/* Button Ends */

.helptext {
  color: darkgray;
  display: block;
}

label {
  display: block;
}

input {
  font-size: 1.2em;
  border: 3px solid #407363;
  outline: none;
  margin: 2px 0;
}

input:focus {
  border: 3px solid black;
}


select {
  font-size: 1.2em;
  margin: 2px 0;
}

form ul li {
  list-style: none;
}

form ul {
  padding: 0 10px;
}

/* Story — Relationship */
.story-relationship {
  border: 3px solid #f3f3f3;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  padding: 1em;
}

.story-relationship a {
  text-decoration: none;
  color: black;
}

.right-bar {
  float: right;
}
.search-container {
  margin: 2px 50px 0 0 ;
}
.authenticated-bar {
  padding: 0 20px 15px 0;
}
.searchbutton {
  font-size: 1.2em;
  border: 3px solid #fff;
  margin: 2px 0;
}
.searchbutton:hover {
  border: 3px solid black;
}

/*home*/
    .link {
        stroke: #ccc;
    }

    .node text {
        pointer-events: none;
        font: 10px verdana;
    }

    @font-face {
        font-family: 'overwatch';
        src: url('fonts/koverwatch.woff2');
    }
/**/

a{
text-decoration: none;
}

/*** Table Styles **/

table, td {
  border: 1px solid black;
}

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 720px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#407363;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#407363;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  width: 500px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

/* Comments */
.comment-area {
  border: 1px solid #C1C3D1;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5px;
  position: relative;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #999;
}

.comment-user {
    position:relative;
    padding: 0 0 0 94%;
}

.comment-date {
    position:relative;
    float: left;
}
/* Comments end */