{% load static %}
  <link rel="stylesheet" href="{% static 'layout/styles/base.css'%}" type="text/css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %} "/>
  {% load i18n %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>{% block title %} Default Title {% endblock %}</title>
</head>
<body>

  <div class="container">
    <header>
      <a
        id="logo"
        href="/"
      >
        <img src="{% static 'logo.png' %}" />
      </a>
    </header>
    <nav>
      {% if user.is_authenticated %}
        <a href="{% url 'dashboard' %}" style="float:left">Hello {{ user.username }}</a>
      {% endif %}
      <div class="menu">
        <a href="{% url 'home' %}">{% trans 'Home' %}</a>
        <a href="{% url 'submit' %}">{% trans 'Submit' %}</a>
        <a href="{% url 'about' %}">{% trans 'About' %}</a>
        <a href="{% url 'search' %}">{% trans 'Search' %}</a>
        {% if user.is_authenticated %}
          <a href="{% url 'report'%}">{% trans 'Report' %}</a>
          <a href="{% url 'logout'%}">{% trans 'Logout' %}</a>
        {% else %}
          <a href="{% url 'signup'%}">{% trans 'Signup' %}</a>
          <a href="{% url 'login'%}">{% trans 'Login' %}</a>
        {% endif %}
      </div>
      <div class="mbl-menu">
        <ul>
          {% if user.is_authenticated %}
            <a href="{% url 'home' %}" style="float:left">Hello {{ user.username }}</a>
          {% endif %}
          <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
          <li><a href="{% url 'submit' %}">{% trans 'Submit' %}</a></li>
          <li><a href="{% url 'about' %}">{% trans 'About' %}</a></li>
          <li><a href="{% url 'search' %}">{% trans 'Search' %}</a></li>
          {% if user.is_authenticated %}
            <a href="{% url 'report'%}">{% trans 'Report' %}</a>
            <a href="{% url 'logout'%}">{% trans 'Logout' %}</a>
          {% else %}
            <a href="{% url 'signup'%}">{% trans 'Signup' %}</a>
            <a href="{% url 'login'%}">{% trans 'Login' %}</a>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="content">
      {% block content %}
      {% endblock %}
    <footer>
      {% trans 'Elifinokuzu is  an open-source etymological dictionary. <a href="/support">Support</a> us on github.' %}
    </footer>
    </div>
  </div>
  </body>
</html>
