{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ edge.type_of_edge }}{% endblock %}
{% block content %}
    <br/>
    <form action="/report">
      <input type="submit" class="report_button" value="Report" />
    </form>
	<h1>{{ edge.type_of_edge }}</h1>
    {% if edge.user.id == request.user.id %}
        <a onclick="confirmDeletion(event)" class="button" style="background-color:#ff0000" href="{% url 'delete_own_created' edge.id %}">Delete_Own</a>
    {% endif %}<hr/>
    <h5>Edge source:</h5><p>{{ edge.source }}</p>
	<h5>Edge type:</h5><p>{{ edge.type_of_edge }}</p>
	<h5>Edge destination:</h5><p>{{ edge.destination }}</p>
    {% if user.is_authenticated %}
        <hr><a class="button" href="{% url 'add_comment_to_edge' edge.id %}">Add comment</a>
    {% endif %}
    {% for comment in comments %}
    <div>
        <div style="float:right">
          {% if comment.user.id == request.user.id %}
            <a onclick="confirmDeletion(event)" class="button" style="background-color:#ff0000" href="{% url 'delete_own_comment' comment.id edge.id %}">Delete</a>
          {% endif %}
        </div>
        <h4><strong>{{ comment.user.username }}</strong></h4>
        <p>{{ comment.text }}</p>
        <h5>{{ comment.created_date|date:"d M, Y" }}</h5>
    </div>
<hr>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
<script type="text/javascript">
document.getElementById("delete_sure").addEventListener("click", confirmDeletion);

function confirmDeletion(event) {
  if (confirm('Are you sure you your Edge? This will destroy both Nodes and Edge')) {

  } else {
    event.preventDefault()
  }
}
</script>
{% endblock %}
