{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ edge.type_of_edge }}{% endblock %}
{% block content %}
    <br/>
    <form action="/report">
      <input type="submit" class="report_button" value="Report" />
    </form>
  <h1>{{ edge.type_of_edge }}</h1>
    {% if edge.user.id == request.user.id %}
        <a onclick="confirmDeletion(event)" class="button" style="background-color:#ff0000" href="{% url 'delete_own_created' edge.id %}">Delete_Own</a>
    {% endif %}<hr/>
    <table class="table-fill">
      <tbody class="table-hover">
        <tr>
          <td class="text-left">Edge Source</td>
          <td class="text-left"><a href="{% url 'node_detail' edge.source.id %}">{{ edge.source }}</a></td>
        </tr>
        <tr>
          <td class="text-left">Type of Edge</td>
          <td class="text-left">{{ edge.type_of_edge.title }}</td>
        </tr>
        <tr>
          <td class="text-left">Edge Destination</td>
          <td class="text-left"><a href="{% url 'node_detail' edge.destination.id %}">{{ edge.destination }}</a></td>
        </tr>
      </tbody>
    </table>
    {% if user.is_authenticated %}
        <hr><a class="button" href="{% url 'add_comment_to_edge' edge.id %}">Add comment</a>
    {% endif %}
    {% for comment in comments %}
    <div class="comment-area">
        <div style="float:right">
          {% if comment.user.id == request.user.id %}
            <a onclick="confirmDeletion(event)" class="button" style="background-color:#ff0000" href="{% url 'delete_own_comment' comment.id edge.id %}">Delete</a>
          {% endif %}
        </div>
        <p>{{ comment.text }}</p>
        <div class="comment-date">
          <h5>{{ comment.created_date|date:"d M, Y" }}</h5>
        </div>
        <div class="comment-user">
          <h4><strong><a href="{% url 'dashboard' comment.user.id %}">{{ comment.user.username.title }}</a></strong></h4>
        </div>
    </div>
        {% empty %}
            <p>No comments here yet :(</p>
        {% endfor %}
<script type="text/javascript">
document.getElementById("delete_sure").addEventListener("click", confirmDeletion);

function confirmDeletion(event) {
  if (confirm('Are you sure you your Edge? This will destroy both Nodes and Edge')) {
    return
  } else {
    event.preventDefault()
  }
}
</script>
{% endblock %}
