{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Home Page' %}{% endblock %}
{% block content %}
  {% for node in nodes %}
	<div>
	    <h1><a href="{% url 'node_detail' node.id %}">{{ node.name }}</a></h1>
	    <p>{{ node.language }}</p>
	   	<a href="{% url 'node_detail' node.id %}">Comments: {{ node.comments.count }}</a><br><hr>
	</div>
  {% endfor %}


  <table class="table table-bordered" style="width:50%;">
  <thead>
    <tr>
      <th>Name</th>
      <th>language</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td style="border:none;"><a href="{% url 'node_detail' user.id %}">{{ user.name }}</a></td>
        <td style="border:none;">{{ user.language }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>


{% if users.has_other_pages %}
    <ul class="pagination">
      {% if users.has_previous %}
        <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in users.paginator.page_range %}
        {% if users.number == i %}
          <li class="active"><span>{{ i }}</span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if users.has_next %}
        <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
    {% endif %}





{% if random_word != "None" %}
  <a href="{% url 'node_detail' random_word %}">{% trans 'GET A RANDOM WORD' %}</a><br>
{% else %}
  <h2>{% trans 'Database is EMPTY' %}</h2>
  <h2>Database BOS</h2>
{% endif %}
{% endblock %}

