{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ node.name }}{% endblock %}
{% block content %}
  <h1>{{ node.name }}</h1>
  {% if node.user.id == request.user.id %}
    <a onclick="confirmDeletion(event)" class="button" style="background-color:#ff0000" href="{% url 'delete_own_created' node.id %}">Delete_Own</a>
  {% endif %}

  {% if incoming %}
    <h1>Incoming</h1>
    {% for edge in incoming %}
      <hr><a href="{% url 'edge_detail' edge.id %}"><h5>{{ edge }}</h5></a>
    {% endfor %}
  {% endif %}
  {% if outgoing %}
    <h1>Outgoing</h1>
    {% for edge in outgoing %}
      <hr><a href="{% url 'edge_detail' edge.id %}"><h5>{{ edge }}</h5></a>
    {% endfor %}
  {% endif %}
  {% if user.is_authenticated %}
    <hr><a class="button" href="{% url 'add_comment_to_node' node.id %}">Add comment</a>
  {% endif %}
{% for comment in comments %}
    <div>
      <div style="float:right">
        {% if comment.user.id == request.user.id %}
          <a onclick="confirmDeletion(event)" class="button" style="background-color:#ff0000" href="{% url 'delete_own_comment' comment.id node.id %}">Delete</a>
        {% endif %}
      </div>
        <h4><strong>{{ comment.user.username }}:</strong></h4>
        <p>{{ comment.text }}</p>
        <h5>{{ comment.created_date|date:"d M, Y" }}</h5>
    </div>
<hr>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
<script type="text/javascript">
document.getElementById("delete_sure").addEventListener("click", confirmDeletion);

function confirmDeletion(event) {
  if (confirm('Are you sure you your node? This will destroy it forever')) {

  } else {
    event.preventDefault()
  }
}
</script>
{% endblock %}

